<!DOCTYPE html>
<html>
    <head><title>Not authorized</title></head>
    <body>
        <h2>Since you are not the owner of <%=docs[0].name%>, edit is NOT authorized.</h2>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </body>
</html>