<!DOCTYPE html>
<html>
    <head><title>No result</title></head>
    <body>
        <h2>No restaurant match: <%=criteria%></h2>
        <a href="/search">New Search</a>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </body>
</html>