<!DOCTYPE html>
<html>
    <head><title>Rated this</title></head>
    <body>
        <h2><%=docs[0].name%> have been rated by you.</h2>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </body>
</html>