<!DOCTYPE html>
<html>
    <head><title>Removing...</title></head>
    <body>
        <h2>Confirmation of removing <%=docs[0].name%></h2>
        <form method="post">
            <input type="submit" value="Yes, I want to remove this restaurant">
            <a href="/"><input type="button" value="No, take me back to home"></a>
        </form>
    </body>
</html>